---
import StaticPageWrapper from '@components/StaticPageWrapper.astro'
import Title from '@components/Title.astro'
import Subtitle from '@components/Subtitle.astro'
import SEO from '@components/SEO.astro'

const lang = 'ar'
---

<SEO slot='seo' title={`The Yemen Listening Project`} description={'.حيثُ يتحدّث اليَمنيّون ويستمع العالمُ إليهم'} />

<StaticPageWrapper lang={lang}>
	<div slot='header'>
		<Title>الشكر والتقدير</Title>
		<!-- <Subtitle>Read more about the Yemen Listening Project.</Subtitle> -->
	</div>

	<p>
		Direction and editing: Annie Slemrod Project coordination: Nuha al-Junaid Translation: Suha al-Junaid and Natakallam Web development: Marc Fehr Audience
		production: Whitney Patterson Events: Matt Crook
	</p>
</StaticPageWrapper>
