---
const { lang } = Astro.props
---

{
	lang === 'en' ? (
		<div class='text-white'>
			<p class='text-white font-bold text-2xl' style="margin-top: 0;">How did The Yemen Listening Project collect stories?</p>
			<p class='text-white'>
				We asked people to submit their stories, in Arabic or English, on an online form, via email, Facebook, or a dedicated WhatsApp number. Once the
				submissions came in, we asked local journalists to gather stories from some parts of Yemen that were not yet well represented in the
				submissions.
			</p>
			<p class='text-white font-bold text-2xl'>Why wasn’t every story published?</p>
			<p class='text-white'>Unfortunately, we did not have the space to publish every story, but we did read every entry.</p>
			<p class='text-white font-bold text-2xl'>Were the stories edited?</p>
			<p class='text-white'>
				Stories were edited for style, length, and clarity. We did add a little context to some stories to help readers who are not familiar with
				Yemen’s war. Translations between languages are not always word for word.
			</p>
			war. Translations between languages are not always word for word.
			<p class='text-white font-bold text-2xl'>What’s next for The Yemen Listening Project?</p>
			<p>
				The Yemen Listening Project will be hosting online and in-person events about the project, about Yemen, and about inclusive journalism.{' '}
				<a class='font-bold hover:underline' href='#' onclick="wisepops('event', 'ylp-click'); return false;">
					Click here to receive updates.
				</a>
			</p>
			<p class='text-white font-bold text-2xl'>I have an idea for my own listening project. Who should I contact?</p>
			Email{' '}
			<a class='font-bold hover:underline' href='mailto:yemenlistening@thenewhumanitarian.org?subject=Listening project idea' rel='noopener noreferrer'>
				yemenlistening@thenewhumanitarian.org
			</a>{' '}
			with the subject line “listening project idea”. If we have enough takers, we will invite you to future workshops about what we have learned in the
			process of making The Yemen Listening Project, and help connect you with other people who are interested in the same things.
			<p class='text-white font-bold text-2xl'>Where can I learn more about Yemen?</p>
			Houthi rebels, officially called Ansar Allah, took over Yemen’s capital city of Sana’a in late 2014. In March 2015, a Saudi Arabia and United Arab
			Emirates-led coalition began bombing Houthi-controlled parts of the country, as part of a military campaign to support Yemen’s internationally
			recognised government.
			<p class='text-white'>
				You can find all of The New Humanitarian’s coverage of Yemen’s war and humanitarian crisis{' '}
				<a href='https://www.thenewhumanitarian.org/middle-east-and-north-africa/yemen' rel='noopener noreferrer' class='font-bold hover:underline'>
					here.
				</a>
			</p>
			<p class='text-white font-bold text-2xl'>What is The New Humanitarian?</p>
			<p class='text-white'>
				The New Humanitarian is a nonprofit newsroom that puts quality, independent journalism at the service of the millions of people affected by
				humanitarian crises around the world. We report from the heart of conflicts and disasters to inform prevention and response.
			</p>
		</div>
	) : (
		<div class='text-white'>
			<p class='text-white font-bold text-2xl' style="margin-top: 0;">كيف جمع مشروع الاستماع إلى اليَمنيّين تلك القصص؟</p>
			طلبنا من الناس إرسال قصصهم، باللغة العربية أو الإنجليزية، من خلال نموذج عبر الإنترنت، أو عبر البريد الإلكتروني أو الفيسبوك، أو باستخدام رقم مُخصص
			للتواصل عبر واتساب. وبمجرّد وصول المُشاركات، طلبنا من الصحفيين المحليين جمع القصص من مختلف أنحاء اليمن التي لم يتم تمثيلها بشكلٍ جيد حتى الآن في
			المشاركات.
			<p class='text-white font-bold text-2xl'>Why wasn’t every story published?</p>
			لسوء الحظ، لم تتوفر لدينا المساحة الكافية لنشر جميع القصص، لكننا قرأنا كل قصة وردت إلينا.
			<p class='text-white font-bold text-2xl'>هل تم تحرير القصص؟</p>
			تم تحرير القصص من حيث الأسلوب والطول والوضوح، كما أضفنا القليل من السياق إلى بعض القصص لمُساعدة القرّاء الذين لا يعرفون الكثير عن حرب اليمن، ولم تكن
			الترجمات بين اللغات ترجمة حرفية دائمًا
			<p class='text-white font-bold text-2xl'>ما الذي سيقوم به مشروع الاستماع إلى اليَمنيّين في المرحلة القادمة؟</p>
			<p>
				سيستضيف المشروع فعاليات عبر الإنترنت وفعاليات حضورية تتمحور حول المشروع واليمن والصحافة الشاملة.{' '}
				<a class='text-bold hover:underline' href='#' onclick="wisepops('event', 'ylp-click'); return false;">
					اضغط هنا
				</a>{' '}
				لتلقي المستجدات.
			</p>
			<p class='text-white font-bold text-2xl'>لدي فكرة لمشروع استماع خاص بي. مع من يجب أن أتواصل؟</p>
			<p>
				يمكنك التواصل مع البريد الإلكتروني{' '}
				<a
					class='text-white font-bold hover:underline'
					href='mailto:yemenlistening@thenewhumanitarian.org?subject=Listening project idea'
					target='_blank'
					rel='noopener noreferrer'
				>
					yemenlistening@thenewhumanitarian.org
				</a>{' '}
				واستخدام عنوان الرسالة التالي: «فكرة مشروع استماع». إذا كان لدينا ما يكفي من المتقدّمين، سندعوك لحضور وُرَش عمل مستقبلية حول ما تعلمناه في عملية
				إنشاء مَشروع الاستماع إلى اليَمنيّين، وسنساعدك على التواصل مع الأشخاص الآخرين المهتمّين بنفس الأفكار.
			</p>
			<p class='text-white font-bold text-2xl'>أين يمكنني معرفة المزيد حول اليمن؟</p>
			<p class='text-white'>
				سيطر المتمردون الحوثيون، الذين يُطلق عليهم رسميًا اسم جماعة «أنصار الله»، على العاصمة اليمنية صنعاء في أواخر عام 2014. وفي مارس (آذار) من عام
				2015، بدأ تحالف بقيادة المملكة العربية السعودية والإمارات العربية المتحدة في قصف الأجزاء التي يسيطر عليها الحوثيون في البلاد، كجزءٍ من حملة
				عسكرية لدعم الحكومة اليمنية المُعترف بها دوليًا.
			</p>
			<p class='text-white font-bold text-2xl'>
				يمكنك العثور على جميع مراحل تغطية وكالة «ذا نيو هيومانيترين» للحرب والأزمة الإنسانية في اليمن{' '}
				<a href='https://www.thenewhumanitarian.org/middle-east-and-north-africa/yemen'>هنا</a>.
			</p>
			<p class='text-white font-bold text-2xl'>ما هي وكالة «ذا نيو هيومانيترين»؟</p>
			<p class='text-white'>
				«ذا نيو هيومانيترين» هي وكالة إخبارية غير ربحية تسخّر الصحافة عالية الجودة والمستقلة في خدمة ملايين الأشخاص المتضررين من الأزمات الإنسانية حول
				العالم. نحن ننقل الأخبار من قلب الأحداث والصراعات والكوارث لنشر الوعي بشأن التدابير الوقائية والاستجابة المناسبة.
			</p>
		</div>
	)
}
