---
const { lang } = Astro.props
---

{
	lang === 'en' ? (
		<div class='w-full'>
			<h2 class='text-white font-sans font-bold tracking-tight text-xl sm:text-2xl text-left'>Credits</h2>
			<table class='min-w-full divide-y divide-gray-300 text-white'>
				<tbody class='divide-y divide-gray-500'>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Direction and editing:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>Annie Slemrod</td>
					</tr>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Project coordination:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>Nuha al-Junaid</td>
					</tr>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Translation:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>
							Suha al-Junaid and{' '}
							<a target='_blank' rel='noopener noreferrer' href='https://natakallam.com/'>
								Natakallam
							</a>
						</td>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Design and web development:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>Marc Fehr</td>
						</tr>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Audience production:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>Whitney Patterson</td>
						</tr>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>Events:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>Matt Crook</td>
						</tr>
					</tr>
				</tbody>
			</table>
		</div>
	) : (
		<div class='w-full'>
			<h2 class='text-white font-sans font-bold tracking-tight text-3xl text-left'>طاقم العمل</h2>
			<table class='min-w-full divide-y divide-gray-300 text-white' dir='rtl'>
				<tbody class='divide-y divide-gray-500'>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>الإخراج والمونتاج:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>آني سليمرود</td>
					</tr>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>تنسيق المشروع:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>نهى الجنيد</td>
					</tr>
					<tr class='grid sm:grid-cols-2'>
						<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>الترجمة:</td>
						<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>
							سهى الجنيد ومؤسسة{' '}
							<a target='_blank' rel='noopener noreferrer' href='https://natakallam.com/'>
								«نـتكلّم»
							</a>
						</td>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>إنشاء الموقع الإلكتروني:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>مارك فير</td>
						</tr>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>إنتاج محتوى الجمهور:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>ويتني باترسن</td>
						</tr>
						<tr class='grid sm:grid-cols-2'>
							<td class='whitespace-nowrap pt-4 sm:py-4 px-2 sm:px-3 text-base text-zinc-100 sm:pl-0'>الفعاليات:</td>
							<td class='text-right sm:text-left whitespace-nowrap px-3 pb-4 sm:py-4 text-lg text-white font-bold'>مات كروك</td>
						</tr>
					</tr>
				</tbody>
			</table>
		</div>
	)
}
