---
const { lang } = Astro.props
---

{
	lang === 'en' ? (
		<div class='w-full'>
			<h2 class='text-white font-sans font-bold tracking-tight text-3xl text-left'>Credits</h2>
			<ul class='w-full text-white'>
				<li>Direction and editing: Annie Slemrod</li>
				<li>Project coordination: Nuha al-Junaid</li>
				<li>Translation: Suha al-Junaid and Natakallam</li>
				<li>Design and web development: Marc Fehr</li>
				<li>Audience production: Whitney Patterson</li>
				<li>Events: Matt Crook</li>
			</ul>
		</div>
	) : (
		<div class='w-full'>
			<h2 class='text-white font-sans font-bold tracking-tight text-3xl text-left'>طاقم العمل</h2>
			<ul class='w-full text-white'>
				<li>الإخراج والمونتاج: آني سليمرود</li>
				<li>تنسيق المشروع: نهى الجنيد</li>
				<li>
					الترجمة: سهى الجنيد ومؤسسة <a href='https://natakallam.com/'>«نـتكلّم»</a>
				</li>
				<li>إنشاء الموقع الإلكتروني: مارك فير</li>
				<li>إنتاج محتوى الجمهور: ويتني باترسن</li>
				<li>الفعاليات: مات كروك</li>
			</ul>
		</div>
	)
}
 