---
const { lang } = Astro.props
---

{
	lang === 'en' ? (
		<div>
			<h1 class='text-white font-bold tracking-tight text-left text-xl sm:text-2xl'>THE YEMEN LISTENING PROJECT</h1>
			<h2 class='text-white font-sans font-bold tracking-tight text-lg sm:text-xl text-left'>Where Yemenis talk, and the world listens</h2>
			<p class='text-white'>
				The people planning and funding wars, devising aid plans, and trying to negotiate peace all too often fail to talk to the people living at the
				centre of it all.
			</p>
			<p class='text-white'>
				Long before Gaza hit the headlines, the term “world’s worst humanitarian crisis” often referred to Yemen. Its devastating war and economic
				collapse, which began nine years ago, has left hundreds of thousands of people dead from violence, disease, starvation, and a lack of
				healthcare. Tens of millions more have been caught up in Yemen’s conflict, but its story has mostly been told by journalists, aid groups, and
				politicians. Until now.
			</p>
			<p class='text-white'>
				What has it really been like to live through all this? To find out, The Yemen Listening Project asked Yemenis one question: “How has the war
				impacted your life?”
			</p>
			<p class='text-white'>
				More than 100 Yemenis ​​– from inside the country and across the world – answered. They sent emails and WhatsApp messages, voice notes, videos,
				poems, and pictures.
			</p>
			<p class='text-white'>
				They include testimonies of loss, life in exile, and what it is like to live through bombing and ground battles. But there are also tales of
				love, family connection, and personal and professional persistence in the face of impossible-seeming obstacles.
			</p>
			<p class='text-white'>
				When Yemen does make the news, it's too often reduced to faceless narratives. Close this window for a look into the lives behind the headlines,
				and to listen to Yemenis as they tell their stories, in their own words, in Arabic and English.
			</p>
			<p class='text-white italic'>
				*The New Humanitarian cannot independently verify the details of each individual story. They have been edited for style, length, and clarity.
			</p>
		</div>
	) : (
		<div>
			<h1 class='text-white font-bold tracking-tight'>مشروع الاستماع إلى اليَمنيّين</h1>
			<h2 class='text-white font-sans font-bold tracking-tight text-2xl text-left'>حيثُ يتحدّث اليَمنيّون ويستمع العالمُ إليهم</h2>
			<p class='text-white'>
				غالبًا ما يفشل الأشخاص الذين يخططون للحروب ويموّلونها، ويضعون خطط المساعدات ويحاولون التفاوض من أجل السلام، في التحدث إلى الأشخاص الذين يعيشون
				في قلب كل تلك الأحداث.
			</p>
			<p class='text-white'>
				قبل فترة طويلة من سيطرة غزة على عناوين الأخبار، كان مصطلح «أسوأ أزمة إنسانية في العالم» يُشير في كثيرٍ من الأحيان إلى اليمن. وقد خلّفت حرب اليمن
				المُدمّرة والانهيار الاقتصادي، اللذان بدآ قبل تسع سنوات، مئات الآلاف من القتلى بسبب العنف والمرض والمجاعة ونقص الرعاية الصحية. وتأثر عشرات
				الملايين غيرهم من الصراع اليمني، لكن قصة ذلك الصراع غالبًا ما رُويت، حتى الآن، على لسان الصحفيين والمنظمات الإغاثية والسياسيين.
			</p>
			<p class='text-white'>
				كيف اختبر اليمنيّون فعليًا هذه الصعوبات؟ لمعرفة ذلك، طرح مشروع الاستماع إلى اليَمنيّين سؤالاً واحدًا على اليمنيين: «كيف أثّرت الحرب في اليمن على
				حياتك؟»
			</p>
			<p class='text-white'>
				وأجاب عليه أكثر من 100 يمني​– من داخل البلاد ومن جميع أنحاء العالم ​– حيث أرسلوا رسائل بريد إلكتروني ورسائل واتساب وملاحظات صوتية ومقاطع فيديو
				وقصائد وصور.
			</p>
			<p class='text-white'>
				تتضمن تلك الرسائل شهادات عن خسارة الأحباب والممتلكات والحياة في المنفى، وما يعنيه العيش في ظل القصف والمعارك البرّية، ولكن هناك أيضًا حكايات عن
				الحب والترابُط العائلي، والصمود الشخصي والمهني في وجه العقبات التي قد تبدو مستحيلة.
			</p>
			<p class='text-white'>
				عندما تتصدر وقائع اليمن عناوين الأخبار، فإنها، في كثير من الأحيان، تتحوّل إلى روايات مجهولة الهوية. لنبتعد عن ذلك ونلقي نظرة على الحياة خلف
				عناوين الأخبار، ونستمع إلى اليمنيين وهم يروون قصصهم، بكلماتهم الخاصة، باللغتين العربية والإنجليزية.
			</p>
			<p class='text-white italic'>
				* لا تستطيع وكالة «ذا نيو هيومانيترين» التحقق بشكلٍ مستقل من تفاصيل كل قصة على حدة، وقد تم تحرير الأسلوب والطول ومستوى الوضوح في تلك القصص.
			</p>
		</div>
	)
}
