<!-- Open menu icon -->
<div title='Read more' id='menu-button--open--legacy'>
	<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='fill-current text-white cursor-pointer'>
		<path d='M0 2v2h24V2Zm0 9v2h24v-2Zm0 9v2h24v-2Z'></path>
	</svg>
</div>