<!-- Open menu icon -->
<div title='Read more' id='menu-button--open'>
	<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='fill-current text-white cursor-pointer'>
		<path d='M0 2v2h24V2Zm0 9v2h24v-2Zm0 9v2h24v-2Z'></path>
	</svg>
</div>

<script is:inline>
	const DEBUG_MODE = false

	// Define functions

	/* OPEN MENU */
	function openMenu() {
		const menuOverlay = document.getElementById('menu-overlay')
		setTimeout(() => {
			menuOverlay.style.display = 'flex'
			menuOverlay.style.visibility = 'visible'
			menuOverlay.style.opacity = 1
		}, 100)

		// Block scrolling on body when menu is open
		document.body.style.overflow = 'hidden'

		localStorage.setItem('menuOpen', 'true')
	}

	/* CLOSE MENU */
	function closeMenu(e) {
		console.log(e.target)

		const menuOverlay = document.getElementById('menu-overlay')
		const closeButtonText = document.getElementById('close-button--text')
		const menuOverlayNav = document.getElementById('menu-overlay--nav')
		const menuOverlayNavWrapper = document.getElementById('menu-overlay--nav-wrapper')
		const headerLogo = document.getElementById('overlay-logo')
		const cityEl = document.getElementById('city')

		// Scroll to top first
		if (
			e.target === menuOverlay ||
			e.target === closeButtonText ||
			e.target === menuOverlayNav ||
			e.target === menuOverlayNavWrapper ||
			e.target === headerLogo ||
			e.target === cityEl ||
			// If e.target has class 'nav-button'
			e.target.classList.contains('nav-button')
		) {
			// Scroll to top of scrollable container
			document.getElementById('scrollable-container').scrollTop = 0
		}

		// Handle button events
		if (
			e.target === menuOverlay ||
			e.target === closeButtonText ||
			e.target === menuOverlayNav ||
			e.target === menuOverlayNavWrapper ||
			e.target === headerLogo ||
			e.target === cityEl
		) {
			// Hide menu overlay
			menuOverlay.style.display = 'none'
			menuOverlay.style.visibility = 'hidden'
			menuOverlay.style.opacity = 0

			setShowIntroFalse()

			// Block scrolling on body when menu is open
			document.body.style.overflow = 'auto'

			// Check if e.target has class nav-button
			if (!e.target.classList.contains('nav-button')) {
				// Hide all .content-container elements
				const contentContainers = document.querySelectorAll('.content-container')
				contentContainers.forEach((el) => {
					el.style.display = 'none'
				})

				// Show #intro element
				const intro = document.getElementById('intro')
				intro.style.display = 'block'

				// Select all elements with the class 'nav-button' and remove active class
				const navButtons = document.querySelectorAll('.nav-button')
				navButtons.forEach((button) => {
					button.classList.remove('active')
				})

				// Add active class to the first nav button
				navButtons[0].classList.add('active')
			}
		}

		localStorage.setItem('menuOpen', 'false')
	}

	function initMenuOverlay() {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButtonOpen = document.getElementById('menu-button--open')

		// Add event listeners
		menuOverlay.addEventListener('click', closeMenu)
		menuButtonOpen.addEventListener('click', openMenu)

		checkIntroOverlay()
	}

	function checkIntroOverlay() {
		// Check if 'hideIntro' is not set to 'false'
		if (localStorage.getItem('hideIntro') !== 'true' || DEBUG_MODE) {
			openMenu() // Automatically open the menu if condition is met
		}
	}

	function setShowIntroFalse() {
		localStorage.setItem('hideIntro', 'true') // Set 'hideIntro' to 'false' in localStorage
	}

	document.addEventListener('DOMContentLoaded', () => {
		initMenuOverlay()
	})
</script>
