<!-- Menu icon -->
<div title='Open menu'>
	<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='fill-current text-white cursor-pointer' id='menu-button'>
		<path d='M0 2v2h24V2Zm0 9v2h24v-2Zm0 9v2h24v-2Z'></path>
	</svg>
</div>

<script is:inline>
	// Define functions

	/* OPEN MENU */
	function openMenu() {
		// Block body scroll when menu is open
		document.body.style.overflow = 'hidden'

		const menuOverlay = document.getElementById('menu-overlay')
		setTimeout(() => {
			menuOverlay.style.display = 'flex'
			menuOverlay.style.visibility = 'visible'
			menuOverlay.style.opacity = 1
		}, 100)

		// Block scrolling on body when menu is open
		document.body.style.overflow = 'hidden'
	}

	/* CLOSE MENU */
	function closeMenu(e) {
		const menuOverlay = document.getElementById('menu-overlay')

		// Unblock body scroll when menu is closed
		document.body.style.overflow = 'auto'

		if (e.target === menuOverlay) {
			// Hide menu overlay
			menuOverlay.style.display = 'none'
			menuOverlay.style.visibility = 'hidden'
			menuOverlay.style.opacity = 0

			setShowIntroFalse()

			// Block scrolling on body when menu is open
			document.body.style.overflow = 'auto'
		}
	}

	function checkIntroOverlay() {
		// Check if 'showIntro' is not set to 'false'
		if (localStorage.getItem('showIntro') !== 'true') {
			openMenu() // Automatically open the menu if condition is met
		}
	}

	function setShowIntroFalse() {
		localStorage.setItem('showIntro', 'true') // Set 'showIntro' to 'false' in localStorage
		console.log('showIntro set to false in localStorage')
	}

	// Deal with eventHandlers
	document.addEventListener('DOMContentLoaded', () => {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')

		// Add event listeners
		menuButton.addEventListener('click', openMenu)
		menuOverlay.addEventListener('click', closeMenu)

		// Show once
		checkIntroOverlay() // Check and potentially show the intro overlay
	})

	document.addEventListener('astro:before-swap', () => {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')
		const closeButtons = document.querySelectorAll('.menu-close-button')

		// Remove event listeners
		closeButtons.forEach((el) => {
			el.removeEventListener('click', closeMenu)
		})

		// Correctly remove event listeners using the named functions
		menuButton.removeEventListener('click', openMenu)
		menuOverlay.removeEventListener('click', closeMenu)
	})

	document.addEventListener('astro:page-load', () => {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')

		const closeButtons = document.querySelectorAll('.menu-close-button')

		// Add event listeners
		closeButtons.forEach((el) => {
			el.addEventListener('click', closeMenu)
		})

		// Add event listeners
		menuButton.addEventListener('click', openMenu)
		menuOverlay.addEventListener('click', closeMenu)
	})
</script>
