<!-- Open menu icon -->
<div title='Read more' id='menu-button--open'>
	<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='fill-current text-white cursor-pointer'>
		<path d='M0 2v2h24V2Zm0 9v2h24v-2Zm0 9v2h24v-2Z'></path>
	</svg>
</div>

<script is:inline>
	const DEBUG_MODE = true

	// Define functions

	/* OPEN MENU */
	function openMenu() {
		const menuOverlay = document.getElementById('menu-overlay')
		setTimeout(() => {
			menuOverlay.style.display = 'flex'
			menuOverlay.style.visibility = 'visible'
			menuOverlay.style.opacity = 1
		}, 100)

		// Block scrolling on body when menu is open
		document.body.style.overflow = 'hidden'

		localStorage.setItem('menuOpen', 'true')
	}

	/* CLOSE MENU */
	function closeMenu(e) {
		const menuOverlay = document.getElementById('menu-overlay')
		const closeButtonText = document.getElementById('close-button--text')
		const menuOverlayNav = document.getElementById('menu-overlay--nav')
		const menuOverlayNavWrapper = document.getElementById('menu-overlay--nav-wrapper')
		const headerLogo = document.getElementById('overlay-logo')

		console.log(e.target)

		if (
			e.target === menuOverlay ||
			e.target === closeButtonText ||
			e.target === menuOverlayNav ||
			e.target === menuOverlayNavWrapper ||
			e.target === headerLogo
		) {
			// Hide menu overlay
			menuOverlay.style.display = 'none'
			menuOverlay.style.visibility = 'hidden'
			menuOverlay.style.opacity = 0

			setShowIntroFalse()

			// Block scrolling on body when menu is open
			document.body.style.overflow = 'auto'
		}

		localStorage.setItem('menuOpen', 'false')
	}

	function initMenuOverlay() {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButtonOpen = document.getElementById('menu-button--open')

		// Add event listeners
		menuOverlay.addEventListener('click', closeMenu)
		menuButtonOpen.addEventListener('click', openMenu)

		checkIntroOverlay()
	}

	function checkIntroOverlay() {
		// Check if 'hideIntro' is not set to 'false'
		if (localStorage.getItem('hideIntro') !== 'true' || DEBUG_MODE) {
			openMenu() // Automatically open the menu if condition is met
		}
	}

	function setShowIntroFalse() {
		localStorage.setItem('hideIntro', 'true') // Set 'hideIntro' to 'false' in localStorage
	}

	document.addEventListener('DOMContentLoaded', () => {
		initMenuOverlay()
	})

	document.addEventListener('astro:after-swap', () => {
		initMenuOverlay()
	})

	document.addEventListener('astro:page-load', () => {
		initMenuOverlay()
	})

	document.addEventListener('astro:before-swap', () => {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button--open')
		const closeButtons = document.querySelectorAll('.menu-close-button')

		// Remove event listeners
		closeButtons.forEach((el) => {
			el.removeEventListener('click', closeMenu)
		})

		// Correctly remove event listeners using the named functions
		menuButton.removeEventListener('click', openMenu)
		menuOverlay.removeEventListener('click', closeMenu)
	})
</script>
