---
interface Props {
	tags: string[]
}

import Tag from '@components/tags/Tag.astro'

const { tags } = Astro.props as Props

// Read path parameters for language and slug
const { path } = Astro.params

const pathParams = path?.toString().split('/')
let lang = pathParams?.[0] || 'en'

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

{
	tags.length > 0 && (
		<div class='text-center w-full max-w-5xl pt-8'>
			<h3 class='font-sans pb-3 text-base font-bold text-center'>Read more about...</h3>
			<div class='text-center flex gap-2 items-center justify-center'>
				{tags.map((tag) => {
					return (
						<Tag tag={tag} />
					)
				})}
			</div>
		</div>
	)
}

<style>
	.tag-wrapper {
		text-align: center;
	}
	button {
		text-align: center;
	}
</style>
