---
interface Props {
	tags: string[]
}

// Read path parameters for language and slug
const { path } = Astro.params

const pathParams = path?.toString().split('/')
const tag = pathParams?.[1] || 'en'

const { tags } = Astro.props as Props

// Find the tag in the list with matching spelling, ignoring case
const matchingTag = tags.find((tagItem) => tagItem.toLowerCase() === tag)

let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

<section class='text-center max-w-5xl mx-auto pb-6 sm:pb-12'>
	<div class='text-white flex items-center justify-center gap-x-3'>
		<!-- <span class='m-0 p-0'>Stories with the tag</span> -->
		<div class='inline'>
			<h2 class='font-sans text-white text-lg sm:text-3xl font-bold m-0'>
				{matchingTag}
			</h2>
		</div>
	</div>
</section>
