---
import Layout from '@layouts/Layout.astro'
---

<Layout>
	<div class='w-screen h-screen h-screen-ios fixed top-0 left-0 bg-black flex flex-col items-center justify-center'>
		<div class='p-5 flex flex-col items-center justify-center'>
			<div class='max-w-xl w-full'>
				<img src='/images/legacy-logo.png' width='100%' />
			</div>
			<h1 class='text-white text-5xl mt-8'>This website does not support your browser.</h1>
		</div>
	</div>
</Layout>
