<a href='/' target='_self'>
	<button
		class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
		id='back-button'
	>
		<span class='group-hover:text-burgundy text-sm'>←</span><span class='group-hover:text-burgundy inline text-sm'>Back</span>
	</button>
</a>
