---
const activeClasses = 'bg-burgundy text-white hover:bg-white hover:text-burgundy'
const inactiveClasses = 'bg-black text-white hover:bg-white hover:text-burgundy'

const { classNames, links } = Astro.props

let { lang } = Astro.params

const { path } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}

const view = path?.toString().split('/')?.[1] || 'grid'

import { translations } from '@data/translations'
---

<div class='isolate inline-flex rounded-xs shadow-sm' id='language-buttons'>
	<a
		data-astro-reload
		id='language-button--en'
		href=`${links.en || '/en/' + view}`
		class=`${classNames} language--button transition-colors duration-150 relative -ml-px inline-flex items-center rounded-r-xs px-3 py-1 text-xs sm:text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 focus:z-10 ${lang === 'en' ? activeClasses : inactiveClasses }`
	>
		{translations.english['en']}
	</a>
	<a
		data-astro-reload
		id='language-button--ar'
		href=`${links.ar || '/ar/' + view}`
		class=`${classNames} language--button transition-colors duration-150 relative inline-flex items-center rounded-l-xs px-3 py-2 text-xs sm:text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 focus:z-10 ${lang === 'ar' ? activeClasses : inactiveClasses }`
	>
		{translations.arabic['ar']}
	</a>
</div>
