---
import { translations } from '../../data/translations'

interface Props {
	lang?: string
	button: string
	href?: string
}

const { button, lang, href } = Astro.props as Props
---

{
	button === 'back' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='back-button'
			>
				<>
					<span class='group-hover:text-burgundy text-sm'>←</span>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.back[lang]}</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'next' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-transparent px-3 py-2 text-sm font-semibold text-burgundy ring-1 ring-inset ring-gray-300 hover:text-white group focus:z-10 mb-6'
				id='next-button'
			>
				<>
					{/* <span class='group-hover:text-burgundy inline text-sm'>{translations.next[lang]}</span> */}
					<span class='group-hover:text-burgundy text-sm'>→</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'overview' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='overview-button'
			>
				<>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.overview[lang]}</span>
					{/* <span class='group-hover:text-burgundy text-sm'>↑</span> */}
				</>
			</button>
		</a>
	)
}

{
	button === 'previous' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-transparent px-3 py-2 text-sm font-semibold text-burgundy ring-1 ring-inset ring-gray-300 hover:text-white group focus:z-10 mb-6 w-30'
				id='prev-button'
			>
				<>
					<span class='group-hover:text-burgundy text-sm'>←</span>
					{/* <span class='group-hover:text-burgundy inline text-sm'>{translations.previous[lang]}</span> */}
				</>
			</button>
		</a>
	)
}
