---
import { translations } from '../../data/translations'

interface Props {
	lang: string
	button: string
}

const { button, lang } = Astro.props as Props
---

{
	button === 'back' && (
		<a href='/' target='_self'>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='back-button'
			>
				<>
					<span class='group-hover:text-burgundy text-sm'>←</span>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.back[lang]}</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'next' && (
		<a href='/' target='_self'>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='next-button'
			>
				<>
					<span class='group-hover:text-burgundy text-sm'>↤</span>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.next[lang]}</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'overview' && (
		<a href='/' target='_self'>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='overview-button'
			>
				<>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.overview[lang]}</span>
					<span class='group-hover:text-burgundy text-sm'>→</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'previous' && (
		<a href='/' target='_self'>
			<button
				class='transition-colors duration-150 relative inline-flex gap-x-2 items-center bg-burgundy px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-gray-300 hover:bg-white hover:text-burgundy group focus:z-10 mb-6'
				id='prev-button'
			>
				<>
					<span class='group-hover:text-burgundy text-sm'>←</span>
					<span class='group-hover:text-burgundy inline text-sm'>{translations.previous[localStorage.getItem('lang')]}</span>
				</>
			</button>
		</a>
	)
}
