---
import { translations } from '@data/translations'

export interface Props {
	name: string
	age?: string
	from?: string
	livingIn?: string
	lang: string
}

const { lang, name, age, from, livingIn } = Astro.props as Props
---

<div class='mt-0 text-center sm:text-base lg:text-lg xl:text-xl' dir={`${lang === 'ar' ? 'rtl' : 'ltr'}`}>
	<span class='font-bold'>{name && name !== '' ? name : translations.nameUnknown[lang]}</span>
	{age ? `, ${age} ${translations.yearsOld[lang]}` : ``}{from ? `, ${translations.from[lang].toLowerCase()} ${from}` : ``}
</div>

<style>
	strong {
		font-weight: bold;
	}
</style>
