---
export interface Props {
	name: string
	age?: string
	from?: string
	livingIn?: string
}

const { name, age, from, livingIn } = Astro.props as Props
---

{
	name && (
		<section class='mt-14'>
			<h3>About the author</h3>

			<table class='table-fixed w-full prose'>
				<tbody>
					{name && (
						<tr>
							<td>Name</td>
							<td>{name}</td>
						</tr>
					)}
					{age && (
						<tr>
							<td>Age</td>
							<td>{age}</td>
						</tr>
					)}
					{from && (
						<tr>
							<td>From</td>
							<td>{from}</td>
						</tr>
					)}
					{livingIn && (
						<tr>
							<td>Is living in</td>
							<td>{livingIn}</td>
						</tr>
					)}
				</tbody>
			</table>
		</section>
	)
}
