---
import IntroOverlay from './IntroOverlay.astro'
---

<!-- Menu icon -->
<div class='z-50 w-7 h-7 flex items-center justify-center bg-white font-bold rounded-full font-body cursor-pointer' id='intro-button'>
	<span class='text-black'>i</span>
</div>

<IntroOverlay />

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const introButton = document.querySelector('#intro-button')
		const introOverlay = document.getElementById('intro-overlay')

		introButton.addEventListener('click', function () {
			localStorage.setItem('showIntro', 'false')
			fadeIn(introOverlay)
			document.body.classList.add('no-scroll')
		})
	})

	function fadeIn(element) {
		element.style.opacity = 1
		element.style.visibility = 'visible'
	}
</script>
