---
import MenuOverlay from './MenuOverlay.astro'
---

<!-- Menu icon -->
<div title='Open menu'>
	<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' class='fill-current text-white cursor-pointer' id='menu-button'>
		<path d='M0 2v2h24V2Zm0 9v2h24v-2Zm0 9v2h24v-2Z'></path>
	</svg>
</div>

<MenuOverlay />

<script is:inline>
	function openMenu() {
		const menuOverlay = document.getElementById('menu-overlay')
		console.log('Open menu button clicked')
		menuOverlay.style.opacity = '1'
		menuOverlay.style.visibility = 'visible'
	}

	function closeMenu(e) {
		const menuOverlay = document.getElementById('menu-overlay')
		console.log('Close menu overlay clicked')
		if (e.target === menuOverlay) {
			menuOverlay.style.opacity = '0'
			menuOverlay.style.visibility = 'hidden'
		}
	}

	document.addEventListener('DOMContentLoaded', () => {
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')

		// Add event listeners
		menuButton.addEventListener('click', openMenu)
		menuOverlay.addEventListener('click', closeMenu)
	})

	document.addEventListener('astro:before-swap', () => {
		console.log('Event listener astro:before-swap fired')
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')

		// Correctly remove event listeners using the named functions
		menuButton.removeEventListener('click', openMenu)
		menuOverlay.removeEventListener('click', closeMenu)
	})

	document.addEventListener('astro:after-swap', () => {
		console.log('Event listener astro:after-swap fired')
		const menuOverlay = document.getElementById('menu-overlay')
		const menuButton = document.getElementById('menu-button')

		// Add event listeners
		menuButton.addEventListener('click', openMenu)
		menuOverlay.addEventListener('click', closeMenu)
	})
</script>
