---
export interface Props {
	classNames: string
	lang: string
}

const { classNames, lang } = Astro.props as Props
---

<div class={classNames} id='pergament' dir={`${lang === 'ar' ? 'rtl' : 'ltr'}`}>
	<slot />
</div>

<style>
	#pergament {
    border: 1px solid white;
		/* background-color: rgba(255,255,255,0.9); */
		/* background-color: rgba(0,0,0,0.9); */
		/* background-image: url('https://www.transparenttextures.com/patterns/textured-paper.png'); */
	}
</style>
