---
export interface Props {
	classNames: string
	lang: string
}

const { classNames } = Astro.props as Props

let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}

const direction = lang === 'en' ? 'ltr' : 'rtl'
---

<div class={classNames} id='pergament'>
	<slot />
</div>

<style define:vars={{ direction }}>
	#pergament {
		border: 1px solid white;
		background-color: rgba(0, 0, 0, 0.9);
		direction: var(--direction);
	}
</style>
