---
export interface Props {
	classNames: string
	lang: string
	overflowY?: string
}

const { classNames, overflowY } = Astro.props as Props

let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}

const direction = lang === 'en' ? 'ltr' : 'rtl'
---

<div class={`${classNames} max-w-7xl`} id='pergament' dir={direction}>
	<slot />
</div>

<style define:vars={{ direction, overflowY }}>
	#pergament {
		border: 2px solid white;
		background-color: rgba(0, 0, 0, 0.85);
		direction: var(--direction);
		overflow-y: var(--overflowY);
	}
</style>
