---
export interface Props {
	classNames: string
	lang: string
}

const { classNames, lang } = Astro.props as Props
---

<div class={classNames} id='pergament' dir={`${lang === 'ar' ? 'rtl' : 'ltr'}`}>
	<slot />
</div>

<style>
	#pergament {
		background-color: #fffdeb;
		background-image: url('https://www.transparenttextures.com/patterns/textured-paper.png');
	}
</style>
