---
export interface Props {
	classNames: string
	lang: string
	overflowY?: string
}

const { classNames, overflowY } = Astro.props as Props

let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || Astro.props.lang
}

const direction = lang === 'en' ? 'ltr' : 'rtl'
---

<div class={`border-2 max-w-7xl bg-zinc-900 ${classNames}`} id='pergament' dir={direction}>
	<slot />
</div>

<style define:vars={{ direction, overflowY }} is:global>
	#pergament {
		background-color: rgba(0, 0, 0, 0.85);
		direction: var(--direction);
		overflow-y: var(--overflowY);
	}

  #pergament p {
    color: white;
  }

	strong {
		font-weight: bold;
		font-family: 'Roboto bold', sans-serif;
	}
</style>
