---

---

<div
	class='prose-invert
prose-h1:text-2xl
prose-h1:sm:text-4xl
prose-h1:lg:text-5xl
prose-h1:font-serif
prose-h1:mb-3
prose-h1:font-bold
prose-h3:mb-2
prose-h3:mt-0
prose-hr:mb-5
prose-hr:mt-0
prose-p:text-base
prose-p:sm:text-xl
prose-p:mt-4
prose-p:sm:leading-relaxed
prose-p:text-justify
prose-a:text-white
prose-a:underline
prose-img:m-0'
>
	<slot />
</div>
