---
interface Props {
	tags: string[]
}

const { tags } = Astro.props as Props

// Read path parameters for language and slug
const { path } = Astro.params

const pathParams = path?.toString().split('/')
let lang = pathParams?.[0] || 'en'

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

{
	tags.length > 0 && (
		<div class='text-center w-full max-w-5xl pt-8'>
			<h3 class='font-sans pb-3 text-base font-bold'>Read more about...</h3>
			<div class='flex gap-x-3 items-center justify-center'>
				{tags.map((tag) => (
					<a
						href={`/tags/${lang}/${tag.toLowerCase()}`}
						class='bg-zinc-50 px-3 py-2 font-bold text-base text-black hover:bg-zinc-600 hover:text-zinc-50 transition-all'
					>
						{tag}
					</a>
				))}
			</div>
		</div>
	)
}
