---
import Header from '@components/header/Header.astro'
import MenuOverlay from '@components/menu/MenuOverlay.astro'

import '@styles/tailwind.css'
import '@styles/global.css'

export interface Props {
	filterButtons?: boolean
	languageButtons?: object
	switchViewButtons?: boolean
	dark?: boolean
	header?: boolean
	title?: string
	dir?: string
	overflow?: string
}

const { filterButtons, languageButtons, dark, header, title, switchViewButtons, dir } = Astro.props as Props
let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

<!doctype html>
<html lang='en' dir={lang === 'ar' ? 'rtl' : 'ltr'}>
	<head>
		<!-- Todo: Change meta tags using Drupal tags before publication  -->
		<!-- To do: Google Tag Manager -->
		<!-- To do: Create SEO component for more meta tags -->
		<slot name='seo' />
		<!-- Google tag (gtag.js) -->
		<!-- Google Tag Manager -->
		<script>
			;(function (w, d, s, l, i) {
				w[l] = w[l] || []
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : ''
				j.async = true
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
				f.parentNode.insertBefore(j, f)
			})(window, document, 'script', 'dataLayer', 'GTM-T5C2M82')
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body class={`overflow-y-scroll`}>
		<!-- Google Tag Manager (noscript) -->
		<iframe src='https://www.googletagmanager.com/ns.html?id=GTM-T5C2M82' height='0' width='0' style='display:none;visibility:hidden'></iframe>
		<!-- End Google Tag Manager (noscript) -->
		<!-- Header  -->
		{header && <Header dark={dark} filterButtons={filterButtons} languageButtons={languageButtons} switchViewButtons={switchViewButtons} />}
		<!-- Main content -->
		<slot />
		<!-- <ReactMenuOverlay client:load /> -->
		<MenuOverlay />
		<!-- Footer  -->
		<!-- No footer set -->
	</body>
</html>

<style is:global lang={'scss'}>
  html[dir='ltr'] {
    /* Styles for left-to-right direction */
  }

  html[dir='rtl'] * {
    text-align: right;
    &.text-center {
      text-align: center;
    }
  }

  body {
    background: black;
		/* background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp'); */
		background-size: cover;
    background-position: center;
		background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #city {
		z-index: -1;
    background-color: black;
		background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media screen and (max-width: 500px) {
		#city {
			background-position: bottom center;
		}
	}
</style>
