---
import Header from '@components/header/Header.astro'
import MenuOverlay from '@components/menu/MenuOverlay.astro'
import ReplacementSwap from 'astro-vtbot/components/ReplacementSwap.astro'
import GoogleTagManager from '@components/GoogleTagManager.astro'

import '@styles/tailwind.css'
import '@styles/global.css'

export interface Props {
	filterButtons?: boolean
	languageButtons?: object
	switchViewButtons?: boolean
	dark?: boolean
	header?: boolean
	title?: string
	dir?: string
	overflow?: string
}

const { filterButtons, languageButtons, dark, header, title, switchViewButtons, dir } = Astro.props as Props
let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

<!doctype html>
<html lang='en' dir={lang === 'ar' ? 'rtl' : 'ltr'}>
	<head>
		<!-- GA4 -->
		<script async src='https://www.googletagmanager.com/gtag/js?id=G-CN7NT4K7P4'></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'G-CN7NT4K7P4')
		</script>
		<!-- End GA4 -->

		<!-- Todo: Change meta tags using Drupal tags before publication  -->
		<slot name='seo' />
		<!-- GOOGLE TAG MANAGER -->
		<!-- <GoogleTagManager measurementId='GTM-T5C2M82' /> -->
		<!-- END GTM -->

		<ReplacementSwap />
	</head>
	<body class={`overflow-y-scroll`}>
		<iframe src='https://www.googletagmanager.com/ns.html?id=GTM-T5C2M82' height='0' width='0' style='display:none;visibility:hidden'></iframe>
		<!-- End Google Tag Manager (noscript) -->
		<!-- Header  -->
		{header && <Header dark={dark} filterButtons={filterButtons} languageButtons={languageButtons} switchViewButtons={switchViewButtons} />}
		<!-- Main content -->
		<slot />
		<!-- <ReactMenuOverlay client:load /> -->
		<MenuOverlay />
		<!-- Footer  -->
		<!-- No footer set -->
		<style is:global lang={'scss'}>
  html[dir='ltr'] {
    /* Styles for left-to-right direction */
  }

  html[dir='rtl'] * {
    text-align: right;
    &.text-center {
      text-align: center;
    }
  }

  body {
    background: black;
		/* background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp'); */
		background-size: cover;
    background-position: center;
		background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #city {
		z-index: -1;
    background-color: black;
		background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media screen and (max-width: 500px) {
		#city {
			background-position: bottom center;
		}
	}
</style>
	</body>
</html>
