---
// import { ViewTransitions } from 'astro:transitions'

import Header from '../components/Header.astro'

import '../styles/tailwind.css'
import '../styles/global.css'

export interface Props {
	filterButtons?: boolean
	languageButtons?: object
	switchViewButtons?: boolean
	dark?: boolean
	header?: boolean
	title?: string
	dir?: string
	overflow?: string
}

const { filterButtons, languageButtons, dark, header, title, switchViewButtons, dir } = Astro.props as Props
let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

<!doctype html>
<html lang='en' dir={lang === 'ar' ? 'rtl' : 'ltr'}>
	<head>
		<!-- Todo: Change before publication  -->
		<meta name='robots' content='noindex' />
		<meta name='googlebot' content='noindex' />
		<meta name='googlebot-news' content='nosnippet' />
		<meta charset='iso-8859-1' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
		<link rel='shortcut icon' href='/favicon.ico' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<title>{title || 'The New Humanitarian'}</title>
		<!-- To do: Google Tag Manager -->
		<!-- To do: Create SEO component for more meta tags -->
		<!-- <ViewTransitions /> -->
	</head>
	<body class={`overflow-y-scroll`}>
		<!-- Header  -->
		{header && <Header dark={dark} filterButtons={filterButtons} languageButtons={languageButtons} switchViewButtons={switchViewButtons} />}
		<!-- Main content -->
		<slot />
		<!-- Footer  -->
		<!-- No footer set -->
		<style is:global>
			html[dir='ltr'] {
				/* Styles for left-to-right direction */
			}

			html[dir='rtl'] * {
				text-align: right;
			}

			body {
				background: black;
			}
		</style>
	</body>
</html>
