---
import Header from '../components/Header.astro'
import MenuOverlay from '../components/MenuOverlay.astro'

import '../styles/tailwind.css'
import '../styles/global.css'

export interface Props {
	filterButtons?: boolean
	languageButtons?: object
	switchViewButtons?: boolean
	dark?: boolean
	header?: boolean
	title?: string
	dir?: string
	overflow?: string
}

const { filterButtons, languageButtons, dark, header, title, switchViewButtons, dir } = Astro.props as Props
let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}
---

<!doctype html>
<html lang='en' dir={lang === 'ar' ? 'rtl' : 'ltr'}>
	<head>
		<!-- Todo: Change meta tags using Drupal tags before publication  -->
		<!-- To do: Google Tag Manager -->
		<!-- To do: Create SEO component for more meta tags -->
		<slot name='seo' />
	</head>
	<body class={`overflow-y-scroll`}>
		<!-- Header  -->
		{header && <Header dark={dark} filterButtons={filterButtons} languageButtons={languageButtons} switchViewButtons={switchViewButtons} />}
		<!-- Main content -->
		<slot />
		<MenuOverlay />
		<!-- Footer  -->
		<!-- No footer set -->
	</body>
</html>

<style is:global lang={'scss'}>
  html[dir='ltr'] {
    /* Styles for left-to-right direction */
  }

  html[dir='rtl'] * {
    text-align: right;


  }

  body {
    background: black;
  }
</style>
