<div id='mc_embed_shell' class='border-t-2 border-b-2 pt-4 border-white' dir='ltr'>
	<!-- <div id='mc_embed_signup'>
		<form
			action='https://thenewhumanitarian.us12.list-manage.com/subscribe/post?u=31c0c755a8105c17c23d89842&id=d842d98289&f_id=0063cfe1f0'
			method='post'
			id='mc-embedded-subscribe-form'
			name='mc-embedded-subscribe-form'
			class='validate py-5 max-w-2xl mx-auto'
			target='_blank'
			novalidate=''
		>
			<div id='mc_embed_signup_scroll'>
				<div class='mc-field-group flex flex-col gap-y-3'>
					<>
						<label for='mce-EMAIL'>
							<span class='text-lg font-bold'>Your email address</span>
						</label>
						<input
							type='email'
							name='EMAIL'
							class='required email border-white rounded-none text-lg px-3 py-1 text-black'
							id='mce-EMAIL'
							required=''
							placeholder='Email address'
							value=''
						/>
					</>
				</div>
				<div hidden=''>
					<input type='hidden' name='tags' value='1487' />
				</div>
				<>
					<div id='mce-responses' class='clear'>
						<div class='response' id='mce-error-response' style='display: none;'></div>
						<div class='response' id='mce-success-response' style='display: none;'></div>
					</div>
					<div aria-hidden='true' style='position: absolute; left: -5000px;'>
						<input type='text' name='b_31c0c755a8105c17c23d89842_d842d98289' tabindex='-1' value='' />
					</div>
					<div class='clear text-center pt-3'>
						<input
              dir="ltr"
							type='submit'
							name='subscribe'
							id='mc-embedded-subscribe'
							class='cursor-pointer hover:bg-white hover:text-black font-bold px-3 py-1 bg-black border'
							value='Subscribe'
						/>
					</div>
				</>
			</div>
		</form>
	</div> -->
  <div
    id='mf_placeholder'
    data-formurl='https://thenewhumanitarian.forms-eu.com/embed.php?id=24572'
    data-formheight='430'
    data-formtitle=''
    data-paddingbottom='10'
  >
  </div>
</div>

<style is:global>
	#mc_embed_shell * {
		direction: ltr;
	}

	input {
		border-radius: 0px;
	}
  /* MachForm styles */
  iframe#mf_iframe {
    position: relative !important;
  }
</style>

<script>
	;(function (f, o, r, m) {
		r = f.createElement('script')
		r.async = 1
		r.src = o + 'js/mf.js'
		m = f.getElementById('mf_placeholder')
		m.parentNode.insertBefore(r, m)
	})(document, 'https://assets.forms-eu.com/')
</script>
